<div class="banner" id="welcome_banner">
  <h1 id="banner_header"> Welcome to </h1>
  <img id="logo">
  <h3 id="banner_header"> "Explore different music options and expand your horizons!" - Ricardo </h3>
<br>
<br>
<div id="form">
  <%= form_for @user do |form| %>
    <label>Username:</label>
    <%= form.text_field :username, placeholder: "Username"%>
    <br><br>
    <label>Password: </label>
    <%= form.password_field :password, placeholder: "Password"%>
    <br><br>
    <label>Confirm Password: </label>
    <%= form.password_field :password_confirmation, placeholder: "Confirm Password" %>
    <br><br>
    <%= form.submit "Create Account" %>
  <% end %>

  <% if flash[:error] %>

    <div class="errors" style="color:red">
      <% flash[:error].each do |i, v| %>
        <li> <%= "#{i}" %> </li>
      <% end %>
      </div>
    </div>

    <br><br>
  <% end %>
  <br><br>
  <%= link_to "Already have an account? Login", login_path %>

<br><br><br>
  <h2 id="creds"> Credits: Ricardo and Elijah </h2>
  <br><br>
</div>
