<div class="banner">
  <h1> <%= @playlist.name %> </h1>
  <% if @is_current_user then %>
    <%= form_with url: destroy_playlist_path(@playlist), method: :delete do |f| %>
      <%= f.submit "Delete Playlist" %>
    <% end %>

    <%= form_with url: edit_playlist_path(@playlist), method: :get do |f| %>
      <%= f.submit "Change Name" %>
    <% end %>
  <% end %>
</div>

<br>

<div class="content">
  <% @playlist.songs.each do |song| %>

    <img src=<%= song.album_picture %> alt="album picture"><br>
    <img src=<%= song.artist_picture %> alt="artist picture">
    <audio controls>
      <source src=<%= song.preview %>>
      Your browser does not support the audio element.
    </audio>
    <br>
    <ul>
      <li><h2>Name: <%= song.name %></h2></li>
      <li><h3>Artist: <%= song.artist.name %></h3></li>
      <li><h3>Album Name: <%= song.album%> </h3></li>
      <li><h3>BPM: <%= song.bpm %></h3></li>
    </ul>
    <br><br>

    <% if @is_current_user then %>
      <%= form_with url: destroy_song_path(song), method: :delete do |f| %>
        <%= f.hidden_field :playlist_id, value: @playlist.id %>
        <%= f.submit "Remove From Playlist" %>
      <% end %>
    <% end %>

    <br><br>
  <% end %>
</div>
