<!DOCTYPE html>
<html>
  <head>
    <title>HorizonsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'songs', media: 'all' %>
    <%= stylesheet_link_tag    'users', media: 'all' %>

  </head>

  <body>

    <% if session[:user_id] %>
      <div class="user-sidebar">
        <%= link_to "Profile", user_path(session[:user_id]) %>
        <%= link_to "Search For Songs", '/' %>
        <%= link_to "Logout", logout_path %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
