<!DOCTYPE html>
<html>
  <head>
    <title>HorizonsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'songs', media: 'all' %>
    <%= stylesheet_link_tag    'users', media: 'all' %>

  </head>

  <body>

    <%= yield %>
  </body>
</html>
